<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线二维码生成器 - 小西瓜</title>
    <script>
        function gen_qrcode()  {
            //获取文本框中用户输入的数据
            var data = document.getElementsByName("data")[0].value;
            //获取显示二维码图片的img对象
            var qr_img = document.getElementById("qr_img");
            //给img对象的src对象赋值
            qr_img.src = "/qr?data="+data;

        }  
        function enter_key_handle(){
            if(event.keyCode  == 13){
                gen_qrcode();
            }
        }
    
    </script>
</head>
<body onkeydown="enter_key_handle()">
    <label>内容：</label><input name="data" type="text"><button  type="button" style="margin-left:3px" onclick="gen_qrcode()">生成</button><br/>
    <img src="" id="qr_img">
</body>
</html>
